---
---
@import "minima";

a.footer-link {
  color: #222222;
  text-decoration: underline;
}

a.footer-link:visited {
  color: #222222;
  text-decoration: underline;
}

a.footer-link:hover {
  color: #222222;
  text-decoration: none;
}

.top-phrase {
  text-align: center;
  color: #555555;
  font-size: 1.2em;
  font-weight: 600;
}

.header-github-mark {
  width: 20px;
  margin: 0 4px 3px 0;
}

@media screen and (min-width: 600px) {
  .header-github-mark {
    width: 24px;
    margin: 0 0 5px 0;
    padding: 5px -5px 5px 10px;
  }

  .header-github-label {
    display: none;
  }
}
