---
---
@import "minima";

.header-github-mark {
  width: 24px;
  margin: 0 0 6px 0;
}

a.footer-link {
  color: #222222;
  text-decoration: underline;
}

a.footer-link:visited {
  color: #222222;
  text-decoration: underline;
}

a.footer-link:hover {
  color: #222222;
  text-decoration: none;
}
